# Xcode
!**/*.xcsettings
!**/*.xcscheme
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Xcode, Gradle
build/

# Android
.idea
.gradle
local.properties
Example/android/app/google-services.json
Example/android/app/.cxx
*.iml
.project
.settings

# Node
node_modules
*.log
.nvm

# OS X
.DS_Store

# CocoaPods
Pods
Podfile.lock

# Ignore assets in custom directory
android/app/src/main/assets/custom/*

# Ignore all link-assets-manifest.json files
**/link-assets-manifest.json
