<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Recommended so that CleverTap knows when to attempt a network call -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
          android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
          <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="ctdemo"
                  android:host="${applicationId}"
                  android:pathPrefix="/MainActivity"/>

          </intent-filter>
      </activity>
        <activity
            android:name=".WebViewActivity"
            android:exported="true"
            android:label="WebView">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- If a user clicks on a shared link that uses the "http" scheme, your
                     app should be able to delegate that traffic to "https". -->
                <data
                    android:host="com.clevertap.demo"
                    android:pathPrefix="/WebViewActivity"
                    android:scheme="ctdemo" />

            </intent-filter>
        </activity>
        <service android:name=".MyFirebaseMessagingService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.clevertap.android.sdk.pushnotification.CTNotificationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.clevertap.PUSH_EVENT" />
            </intent-filter>
        </service>
        <meta-data android:name="CLEVERTAP_ACCOUNT_ID" android:value="CLEVERTAP_ACCOUNT_ID" />
        <meta-data android:name="CLEVERTAP_TOKEN" android:value="CLEVERTAP_ACCOUNT_TOKEN" />
        <meta-data android:name="CLEVERTAP_USE_GOOGLE_AD_ID" android:value="1"/>
        <!--  Add your custom handshake domain if any  -->
        <!--<meta-data
            android:name="CLEVERTAP_HANDSHAKE_DOMAIN"
            android:value="YOUR HANDSHAKE DOMAIN"/>-->
    </application>

</manifest>
