<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.starter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <service android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
      <!--<meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="YOUR-PROJECT-ID"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="YOUR-PROJECT-TOKEN"/>
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="YOUR-PROJECT-REGION"/>-->
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-46W-WWR-R85Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-200-064" />

    </application>

</manifest>
