<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <service
            android:name="com.clevertap.android.sdk.pushnotification.amp.CTBackgroundJobService"
            android:enabled="false"
            android:exported="false"
            tools:ignore="MissingClass" />
    </application>
</manifest>
